body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1500534623283-312aade485b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  color: #b45234;
  opacity: 0.9;
  margin-bottom: 15px;
}
.clock {
  display: flex;
  position: relative;
}
.clock div {
  margin: 3px;
}
.clock span {
  width: 100px;
  height: 80px;
  background: #b45234;
  opacity: 0.7;
  border-radius: 5px;
  margin-bottom: 2px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px #2b2a29 0.3;
}
.clock .text {
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #7a4c3d;
  opacity: 0.9;
}
.clock #ampm {
  bottom: 3px;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 12px;
  background-color: #7a4c3d;
  opacity: 0.9;
}
